@import "reset";
@import "typography";

html{
    scroll-behavior: smooth;
}

body{
    font-family: "roboto", sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
}